
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto&family=Rubik&family=Solitreo&display=swap');

.background {
    text-align: center;
    background-image: url('./../images/background/bright_day.jpg');
    background-size: cover;
    background-position: center;  
    min-height: 95.6vh;
    padding-top: 40px;
    position: relative;
}

.title {
    font-size: calc(20px + 2vmin);
    font-weight: bold; 
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    padding-bottom: 30px;
}

.favorites_title {
    padding-top: 120px;
}

.weather-output {
    padding: 5px;
    margin-top: 40px;
    font-size: 16px;
    border-radius: 5px;
    width: 250px;
    border: '10px solid lightgray',
}

.small-icon {
    width: 120px; 
    height: 120px; 
}

.big-icon {
    width: 200px; 
    height: 200px; 
}

.weather_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    font-size: calc(5px + 2vmin);
    border: 3px solid rgb(105, 104, 104);  
    border-radius: 10px;
    
    background-color: lightgray;   
    margin: 25px 0 0 0;
    cursor: pointer;
}

.weather_container:hover{
    background-color: rgb(156, 156, 156);
}

.single_day_forcast_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    color: black;
    font-size: calc(5px + 2vmin);
    border: 3px solid rgb(105, 104, 104); 
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    CURSOR: pointer; 
    background-color: lightgray;  
    margin: 25px auto 0 auto;
}

.single_day_forcast_container:hover {
    background-color: rgb(156, 156, 156); 
}

.weather_container h2,
.weather_container h3,
.weather_container {
    margin: 0px 0; 
}

.city-country {
    font-size: calc(13px + 2vmin);
    font-weight: bold; 
    font-family: 'Roboto', sans-serif;
}

.date-day-of-the-week{
    font-size: calc(8px + 2vmin);
    font-family: 'Roboto', sans-serif;
}

.time{
    font-size: calc(8px + 2vmin);
    font-family: 'Roboto', sans-serif;
}

.five_days_icon{
    font-size: calc(8px + 2vmin);
    font-family: 'Roboto', sans-serif;
}

.temperature{
    font-size: calc(10px + 2vmin);
    font-family: 'Roboto', sans-serif;
}

.weather-type{
    font-size: calc(8px + 2vmin);
    font-family: 'Roboto', sans-serif;
}



.cityButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    CURSOR: pointer;    
    border-radius: 5px;
    background-color: lightgray;
}

.cityButton:hover {
    background-color: rgb(156, 156, 156);
; 
}


.min_max_temp{
    font-size: calc(7px + 2vmin);
    color: black;
    line-height: 1.2; 
    font-family: 'Roboto', sans-serif;
    
}

.five_days_icon{
    margin: -25px;
}

.forcast_date{
    font-size: calc(5px + 2vmin);
    line-height: 1.2; 
    font-weight: bold; 
    font-family: 'Roboto', sans-serif;
}

.five_days_forcast_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    font-size: calc(5px + 2vmin);
    color: rgb(11, 30, 230);
    margin: 0px auto 0 auto;
}

.search_city_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-bottom: 20px ;
    
}


.full-container {
    position: relative;
    padding-left: 180px;
    justify-content: center;

    display: flex;
    gap: 20px;
}

@media (max-width: 650px) {
    .full-container {
        padding-left: 165px;
    }
}

@media (max-width: 580px) {
    .full-container {
        padding-left: 150px;
    }
}

.favorites-button {
    position: relative;
    background-color: #319cc6a7;
    border: none; 
    color: white; 
    padding: 17px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0px;
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.6s; 
    margin-left: 20px;
}

.delete-favorites-button {
    position: relative;
    background-color: #319cc6a7;
    border: none; 
    color: white; 
    padding: 17px 10px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 20px 0px;
    cursor: pointer; 
    border-radius: 12px; 
    transition-duration: 0.6s; 
    margin-left: 20px;
}

.favorites-button:hover, .delete-favorites-button:hover {
    background-color: #006187a7;
}

.favorites-button:active, .delete-favorites-button:active {
    background-color: #18361a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.favorite-cities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.buttons-container {
    position: relative;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cityName {
    font-size: 18px;
    font-weight: bold;
}

.cityWeatherText,
.cityWeatherIcon,
.cityTemperature {
    font-size: 16px;
}

.city-search {
    width: 300px; 
    margin-right: 28px;
    cursor: pointer;
  }

.show-forcast-button {
    font-size: 14px;
    background-color:#319cc6a7;
    color: white;
    border: none;
    padding: 14px 10px; 
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 15px;
}
.show-forcast-button:hover {
    background-color: #006187a7;
}

.show-forcast-button:active {
    background-color: #18361a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.svg-wrapper {
    width: 80%;
    height: 80%;
  }
.svg-wrapper svg {
    width: 100%;
    height: 100%;
}

  
  

